env/*
*egg-info/*
.eggs/*
*.egg
*__pycache__*
*.pyc
*~
build/*
dist/*
docs/build/*
!docs/build/.gitignore
.cache/*
.flake8
.pytest_cache/*

### Emacs template
# -*- mode: gitignore; -*-
# *~
**/*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*
