<div class=row>
  <div class="col-sm-6 col-md-5 col-md-offset-1">
    <form>
      <fieldset>
        <legend>Request</legend>
          <textarea id=request rows=10 style="width:100%" readonly></textarea>
        </legend>
      </fieldset>
    </form>
  </div>
  <div class="col-sm-6 col-md-5">
    <form>
      <fieldset>
        <legend>Response</legend>
          <textarea id=response rows=10 style="width:100%" readonly></textarea>
        </legend>
      </fieldset>
    </form>
  </div>
</div>
