<div class=row>
  <div class="col-sm-12 col-md-10 col-md-offset-1">
    <form>
      <fieldset>
        <legend>Credentials</legend>
          <div class="input-group fluid">
            <label for="username">Username</label>
            <select onselect="cheatPassword()" onchange="cheatPassword()" id="username">
              <option value="TheDude" selected>TheDude</option>
              <option value="Walter">Walter</option>
              <option value="Donnie">Donnie</option>
              <option value="Maude">Maude</option>
              <option value="TheStranger">TheStranger</option>
            </select>
            <label for="password">Password</label>
            <input type="text" id="password" placeholder="password" value=abides>
            <button type="button" onclick="logIn()">Log in</button>
          </div>
          <div class="input-group fluid">
            <label for="token">Access Token</label>
            <textarea id="token" rows=5 style="width:100%" readonly></textarea>
            <button type="button" onclick="copyToken()">&#x1f4cb</button>
            <button type="button" onclick="clearToken()">&#x2716</button>
          </div>
          <div class="input-group fluid">
            <label for="access">Remaining Access Lifespan</label>
            <input type="text" id="access" readonly>
            <label for="refresh">Remaining Refresh Lifespan</label>
            <input type="text" id="refresh" readonly>
        </legend>
      </fieldset>
    </form>
  </div>
</div>
