{% extends "layout.html" %}
{% block content %}
{% include "credentials.html" %}
<div class=row>
  <div class="col-sm-12 col-md-10 col-md-offset-1">
    <form>
      <fieldset>
        <legend>Endpoints</legend>
          <button type="button" onclick="getProtected()">protected</button>
          <button type="button" onclick="refresh()">refresh</button>
          <button type="button" onclick="disableUser()">disable_user</button>
        </legend>
      </fieldset>
    </form>
  </div>
</div>
{% include "chatter.html" %}
{% endblock %}
