name: dusky-python-ci

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.6, 3.7, 3.8, 3.9]

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: get-poetry
      run: pip install poetry==1.1.11
    - name: install
      run: poetry install
    - name: test
      run: poetry run pytest tests
    - name: lint-src
      run: poetry run flake8 flask_praetorian
    - name: lint-tests
      run: poetry run flake8 tests
